127.0.0.1 localhost localhost.localdomain
10.9.0.54 utility utility.rhce-test.example.com
10.9.0.53 node3 node3.rhce-test.example.com
10.9.0.52 node2 node2.rhce-test.example.com
10.9.0.51 node1 node1.rhce-test.example.com
10.9.0.50 control control.rhce-test.example.com
